:root{
    --amarelo: #ffff00;
    --azul: #0000ff;
    --branco: #ffffff;
    --cinza: #d3d3d3;
    --preto: #111111;
    --whatsapp: #34af23;
    
    --overlay: #0000ff28;
    --googleMapsColor: #DD4B3E;
}